# Python2 vs Python3

http://sebastianraschka.com/Articles/2014_python_2_3_key_diff.html

# Comments

In [1]:
#single line comment

# Basic Arithmetic

In [2]:
2+5 #addition

7

In [3]:
2*5 #multiplication

10

In [4]:
2-5 #subtraction

-3

In [5]:
2/5 #true division

0.4

In [6]:
2//5 #classic division

0

In [7]:
2**6 #exponentiation

64

In [8]:
16**0.5 #sqrt

4.0

# Variable Assignment

In [9]:
#Variables names are case sensitive. They must start with a letter or an underscore.
#They can not contain any special character(^&*~-+'",<>/?|\()!@#$%).

In [10]:
my_grade = 'A+'
my_roll_no = 7

# Boolean

In [11]:
t = True
f = False
n = None
print(t,f,n)
10 < 100

True False None

True

In [12]:
10 < 100 and 100 > 1000

False

In [13]:
10 < 100 or 100 > 1000

True

# String

Sequence of characters

In [14]:
'single quotes'

'single quotes'

In [15]:
"double quotes"

'double quotes'

In [16]:
"It's a beautiful and deceptive world."

"It's a beautiful and deceptive world."

In [17]:
print("new\nline")

new
line

In [18]:
print("It\'s a \"beautiful\" and \"deceptive\" world, we live in.\n")

It's a "beautiful" and "deceptive" world, we live in.

In [19]:
str = 'positive or negative ?'

In [20]:
#length of string
len(str)

22

String Indexing

In [21]:
print(str[0],str[10],str[-1])
# str[-1]: last character

p r ?

String Slicing

In [22]:
str[1:]

'ositive or negative ?'

In [23]:
str[:5] #everything upto 5th charater, [0,5)

'posit'

In [24]:
str[1:5]# [1,5)

'osit'

In [25]:
str[:]#whole string

'positive or negative ?'

In [26]:
str[-5:]

'ive ?'

In [27]:
#default step size is 1
str[::1] #whole string

'positive or negative ?'

In [28]:
#step size 2
str[::2]

'pstv rngtv '

In [29]:
#step size -1, to print reverse string
str[::-1]

'? evitagen ro evitisop'

String are immutable

In [30]:
str[0] = 'a'

TypeError: 'str' object does not support item assignment

In [ ]:
#string concatenation
str + " Neutral."

In [31]:
#repetition
"ahsan "*7

'ahsan ahsan ahsan ahsan ahsan ahsan ahsan '

In [32]:
#string_object.method(parameters)
str.upper() #upper case

'POSITIVE OR NEGATIVE ?'

In [33]:
str.split() #split a string by space

['positive', 'or', 'negative', '?']

In [34]:
str.split('or ') #split a string by specific character or substring

['positive ', 'negative ?']

In [35]:
#capitalize first word
str.capitalize()

'Positive or negative ?'

In [36]:
print(str.count('i')) #count occurence of char i
print(str.count('ive')) #count occurence of non-overlapping substring

3
2

In [37]:
str.find('or') #return lowest index of matched substring
print(str.find('z')) # return -1, if not found.

-1

In [38]:
str.isalnum() #true, if all characters in string are alphanumeric

False

In [39]:
str.isalpha()#true, if all characters in string are alphabetic

False

In [40]:
str.islower() #true, if all characters in string are lower case

True

In [41]:
str.isspace() #true, if all char in string are spaces.

False

In [42]:
str.endswith('?')

True

In [43]:
str.partition('or') #returns a tuple (substring before seperator, seperator, substring after seperator )

('positive ', 'or', ' negative ?')

In [44]:
s = "  asd ada   "
s.strip() #removes leading and trailing white spaces

'asd ada'

print formatting

In [45]:
s = 'def'
print("abc %s ijk" %(s))
print("100 > %1.2f" %(80.98765))
print("%d > %10.3f" %(100,80.98765))

abc def ijk
100 > 80.99
100 >     80.988

In [46]:
#%s use str() to convert python object into its string representation.
#%r use repr() to convert python object into its string representation.
print(repr(1.22))
print(repr([1,2]))
print("string:%r, list:%r, tuple:%r, floating_point_no: %r" %('xyz', [1,2,3], (10,20), 1.23456)) 
print("string:%s, list:%s, tuple:%s, floating_point_no: %s" %('xyz', [1,2,3], (10,20), 1.23456))

1.22
[1, 2]
string:'xyz', list:[1, 2, 3], tuple:(10, 20), floating_point_no: 1.23456
string:xyz, list:[1, 2, 3], tuple:(10, 20), floating_point_no: 1.23456

String formatting

https://pyformat.info/

In [47]:
s = "string {} {}".format('formatting','.')
s

'string formatting .'

In [48]:
s = "Float:{x} String:{y} List:{z}".format(x=1.234,y='abcde',z=[1,2,3])
s

'Float:1.234 String:abcde List:[1, 2, 3]'

In [49]:
s = "{x} {x} {x}".format(x=':)')
s

':) :) :)'

In [50]:
print("{:10d}".format(107))#padding numbers 
print("{:010d}".format(107))
print("{:10.2f}".format(107.123456789))
print("{:010.2f}".format(107.123456789))

       107
0000000107
    107.12
0000107.12

In [51]:
data = {'first_name': 'Ahsan', 'last_name': 'Kamal'}
print("{first_name} {last_name}".format(**data))
print("{a[first_name]} {a[last_name]}".format(a = data))

Ahsan Kamal
Ahsan Kamal

# Complex number

In [52]:
complex('1+2j')

(1+2j)

In [53]:
complex(2,3)

(2+3j)

# Lists

In [54]:
list1 = [1,2,3,'abc',10.234, ['a','b'], {'x':1,'y':2}, ('t1','t2')] #list can hold objects of different data types
list1

[1, 2, 3, 'abc', 10.234, ['a', 'b'], {'x': 1, 'y': 2}, ('t1', 't2')]

In [55]:
#List are mutable and have dynamic size.
list1[1] = 'xyz'
list1

[1, 'xyz', 3, 'abc', 10.234, ['a', 'b'], {'x': 1, 'y': 2}, ('t1', 't2')]

In [56]:
len(list1)

8

Indexing and slicing

In [57]:
print(list1[0])
print(list1[-1])
list1[5]

1
('t1', 't2')

['a', 'b']

In [58]:
list1[:3] #[0,3)

[1, 'xyz', 3]

In [59]:
list1[1:4] #[1,4)

['xyz', 3, 'abc']

In [60]:
#concatination
list1 + [10,20,30]

[1,
 'xyz',
 3,
 'abc',
 10.234,
 ['a', 'b'],
 {'x': 1, 'y': 2},
 ('t1', 't2'),
 10,
 20,
 30]

In [61]:
#repetition
l = [1]*7
l

[1, 1, 1, 1, 1, 1, 1]

list methods

In [62]:
l = [1,3,2,4,6,5,3]
l.append('2')
l

[1, 3, 2, 4, 6, 5, 3, '2']

In [63]:
l.pop() #pop out last element

'2'

In [64]:
l

[1, 3, 2, 4, 6, 5, 3]

In [65]:
# Pop off the 0 indexed item
print(l.pop(0))
l

1

[3, 2, 4, 6, 5, 3]

In [66]:
l[10] #index error

IndexError: list index out of range

In [67]:
l.reverse() #inplace list reversal
l

[3, 5, 6, 4, 2, 3]

In [68]:
l.sort() #inplace
l

[2, 3, 3, 4, 5, 6]

In [69]:
l.count(3) #returns no of occurence of 3 in list

2

In [70]:
print(l)
#l.append(object) #append obj to the end of list
l.append([10,9])
print(l)
print(l.pop())
#l.extend(iterable)
l.extend([10,9]) #extend list by appending elements from the iterable
print(l)

[2, 3, 3, 4, 5, 6]
[2, 3, 3, 4, 5, 6, [10, 9]]
[10, 9]
[2, 3, 3, 4, 5, 6, 10, 9]

In [71]:
l.index(3) #returns first index of value passed as an argument

1

In [72]:
l.insert(3,'ab') #insert 'ab' before index 3
l

[2, 3, 3, 'ab', 4, 5, 6, 10, 9]

In [73]:
l.remove(3) #removes first occurence of 3
l

[2, 3, 'ab', 4, 5, 6, 10, 9]

In [74]:
#nested list
matrix = [[10,20,40],[1,2,3],[9,8,7]]
print(matrix[2])
print(matrix[2][1])

[9, 8, 7]
8

List Comprehension

In [75]:
l = [c for c in 'ahsan']
l

['a', 'h', 's', 'a', 'n']

In [76]:
l = [x**3 for x in range(0,7)]
l

[0, 1, 8, 27, 64, 125, 216]

In [77]:
#odd numbers
l = [x for x in range(0,10) if x%2!=0]
l

[1, 3, 5, 7, 9]

In [78]:
#nested list comprehension
l = [x**2 for x in [x for x in range(1,10) if x%2==0]]
l

[4, 16, 36, 64]

# Dictionary

In [79]:
#Dictionaries are mappings and do not retain order.
#key:value
dict1 = {'z':1, 'y':2, 'x':3}
dict1

{'x': 3, 'y': 2, 'z': 1}

In [80]:
dict1['k1']=[10,11,12]
dict1

{'k1': [10, 11, 12], 'x': 3, 'y': 2, 'z': 1}

In [81]:
print(dict1['z'])
print(dict1['k1'])
print(dict1['k1'][2])
print(dict1.keys())
print(dict1.values())
print(dict1.items())

1
[10, 11, 12]
12
dict_keys(['z', 'y', 'x', 'k1'])
dict_values([1, 2, 3, [10, 11, 12]])
dict_items([('z', 1), ('y', 2), ('x', 3), ('k1', [10, 11, 12])])

In [82]:
#nested dictionarry
dict1['dict2'] = { 'ab': 100, 'cd':200, 'dict3':{'ef':300} }
dict1

{'dict2': {'ab': 100, 'cd': 200, 'dict3': {'ef': 300}},
 'k1': [10, 11, 12],
 'x': 3,
 'y': 2,
 'z': 1}

In [83]:
dict1['dict2']

{'ab': 100, 'cd': 200, 'dict3': {'ef': 300}}

In [84]:
dict1['dict2']['dict3']

{'ef': 300}

In [85]:
dict1['dict2']['dict3']['ef']

300

In [86]:
for item in dict1.items():
    print(item)

('z', 1)
('y', 2)
('x', 3)
('k1', [10, 11, 12])
('dict2', {'ab': 100, 'cd': 200, 'dict3': {'ef': 300}})

Dictionary comprehension

In [87]:
d = {x:x**3 for x in range(2,7)}
d

{2: 8, 3: 27, 4: 64, 5: 125, 6: 216}

# Tuples

In [88]:
tuple1 = (1,2,3,3,4,'abcde')

In [89]:
len(tuple1)

6

In [90]:
tuple1[-1] #indexing: similar to list

'abcde'

In [91]:
tuple1[-3:] #slicing: similar to list

(3, 4, 'abcde')

In [92]:
tuple1.count(3)

2

In [93]:
tuple1.index('abcde')

5

In [94]:
#tuples are immutable
tuple1[0] = 5

TypeError: 'tuple' object does not support item assignment

In [95]:
tuple1 = tuple1 + (4,)

In [96]:
tuple1

(1, 2, 3, 3, 4, 'abcde', 4)

# Sets

In [97]:
#set: collection of unique and unordered elements
s = set()
s.add(10)
s.add(20)
s.add(10)
s

{10, 20}

In [98]:
s.clear()#removes all elements
s

set()

In [99]:
s = {1,2,3}
sc = s.copy()#returns a copy of the set s
sc

{1, 2, 3}

In [100]:
l = [1,2,3,1,2,3,1,2,3]
s = set(l)
s

{1, 2, 3}

In [101]:
set1 = {10,23,15,42,23,10,11}
set1

{10, 11, 15, 23, 42}

In [102]:
#for each
#for element in any_iterable:
#    print(element)
for x in set1: 
    print(x)

10
11
42
15
23

In [103]:
set1[0]

TypeError: 'set' object does not support indexing

In [104]:
set1

{10, 11, 15, 23, 42}

In [105]:
set2 = {3,7,9,10,15,2,42}

In [106]:
set1.intersection(set2)

{10, 15, 42}

In [107]:
set1.union(set2)

{2, 3, 7, 9, 10, 11, 15, 23, 42}

In [108]:
print(set1.difference(set2))
print(set1)

{11, 23}
{10, 11, 42, 15, 23}

In [109]:
#returns set1 after removing elements found in set2
set1.difference_update(set2)
set1

{11, 23}

In [110]:
set2.discard(42)#Remove an element from a set if it is a member
set2

{2, 3, 7, 9, 10, 15}

In [111]:
#return True if two sets have a null intersection.
set1.isdisjoint(set2)

True

In [112]:
print(set2.issuperset({2,3}))
print(set2.issubset({2,3}))

True
False

In [113]:
{1,2,3}.symmetric_difference({1,2,3,4})#returns all elements that are in exactly one of the sets

{4}

In [114]:
#Update a set with the union of itself and others
s1={1,2}
s2={3,4}
s1.update(s2)
s1

{1, 2, 3, 4}

Chained comparison operator

In [115]:
1<2<3
#1<2 and 2<3

True

In [116]:
1<= 3 >2
#1<=3 and 3>2

True

# Loops

while loop

In [117]:
#while loop
condition = True
while condition==True:
    print(condition)
    user_input = input("Print again? (y/n):  ")
    if(user_input=='n'):
        condition=False

True
Print again? (y/n):
True
Print again? (y/n):
True
Print again? (y/n):  n

In [118]:
list1 = [10,3,44]
n = len(list1)
i=0
while i<n:
    if(list1[i]==44):
        break
    print(list1[i])
    i+=1
#break, continue, pass

10
3

In [119]:
if 100 not in list1:
    print('yes')

yes

if-elif-else statements

In [120]:

if 1>2:
    print('a')
elif 2>1:
    print('b')
else:
    print('c')

b

for loop

In [121]:
obj = [1,2,3,4]
for item in obj:
    print(item)

1
2
3
4

In [122]:
obj = [(1,2),(3,4),(5,6)]
for item in obj:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [123]:
#tuple unpacking
obj = [(1,2),(3,4),(5,6)]
for (i,j) in obj:
    print(i,j)

1 2
3 4
5 6

In [124]:
obj = {'k1':1,'k2':2,'k3':3}
for key,value in obj.items():
    print(key,value)

k1 1
k2 2
k3 3

range generator

In [125]:
#range(start,stop,step)
for i in range(10,20,2):
    print(i)

10
12
14
16
18

# Functions

a way to group together a set of statements so that they can be run more than once.

In [126]:
def add_friend(a):
    pass

In [127]:
def add(a,b):
    return a+b
add(5,7)

12

In [128]:
#list comprehension
even = [i for i in range(10) if i%2==0]
print(even)
names = "Ahsan ,   Usman,    Karan , Aayush, Mehrab   "
striped_names = [name.strip() for name in names.split(',')]
print(striped_names)

[0, 2, 4, 6, 8]
['Ahsan', 'Usman', 'Karan', 'Aayush', 'Mehrab']

In [129]:
#dictionary can only store data. we can't invoke method on these data.
student = {'name':'Jose','school':'Computing','grades':(66,77,88)}

# Object oriented programming

In [130]:
#type method:to check type of object
print(type({}))
print(type(True))
print(type(1.2))
print(type([1,2,3]))
print(type((1,2)))
print(type({1,2,1}))

<class 'dict'>
<class 'bool'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'set'>

In [131]:
#class is a blueprint for creating objects
class MyClass:
    pass
x = MyClass() #instantiation: creation of object from class
type(x)
#attribute: characteristic of an object
#method: operation that can be performed on object
#or A function defined in a class is called a "method"

__main__.MyClass

In [132]:
class Person(object):
    #class object attribute
    has_a_soul = True #remain same for all instance of the class
    def __init__(self, arg1):# constructor: automatically invoked just after the object is instatiated
        self.name = arg1
x = Person("ahsan")
print(x.name,x.has_a_soul)

ahsan True

In [133]:
class Student:
    def __init__(self,name,school,pcm_marks):
        self.name = name
        self.school = school
        self.pcm_marks = pcm_marks
    def info(self):
        print("Name: {}, School: {}, Marks:{} .".format(self.name,self.school,self.pcm_marks))
    @classmethod
    def country(cls):
        print("India")
        print(cls)
s1 = Student('Aayush','Ramjas International school',(88,88,92))   
s1.info()
s1.country()

Name: Aayush, School: Ramjas International school, Marks:(88, 88, 92) .
India
<class '__main__.Student'>

In [134]:
#Inheritance: transfer of characteristic of base class to derived class
#The derived classes (DelhiStudent) override or extend the functionality of base classes (Student)
class DelhiStudent(Student):
    def __init__(self, name, school, pcm_marks, is_alumni):
        super().__init__(name,school,pcm_marks)
        self.is_alumni = is_alumni
    @staticmethod #all objects of class DelhiStudent share the same staticmethods
    def location():
        print("Pusa Road, Karol Bagh, New Delhi: 110005 .")
    def info(self):#overriding
        print("Name: {}, School: {}, Marks:{}, is_alumni:{} .".format(self.name,self.school,self.pcm_marks,self.is_alumni))
    def __str__(self):#special method
        return "Name: {}".format(self.name)
usman = DelhiStudent("usman", "ramjas", (85,86,87), True) 
usman.info()
usman.location()
DelhiStudent.location()#invoking static method
usman.country()
print(usman)

Name: usman, School: ramjas, Marks:(85, 86, 87), is_alumni:True .
Pusa Road, Karol Bagh, New Delhi: 110005 .
Pusa Road, Karol Bagh, New Delhi: 110005 .
India
<class '__main__.DelhiStudent'>
Name: usman

Ref:
https://jeffknupp.com/blog/2014/06/18/improve-your-python-python-classes-and-object-oriented-programming/

https://docs.python.org/2/tutorial/classes.html

http://www.tutorialspoint.com/python/python_classes_objects.htm

https://developer.mozilla.org/en-US/docs/Learn/Python/Quickly_Learn_Object_Oriented_Programming

# Exceptions

In [135]:
#Errors detected during execution are called exceptions
#https://docs.python.org/2/library/exceptions.html
try:
    f = open('file_123','r')
    f.write('file 123')
except IOError:
   print("Error: File does not exist.")
except:
   print("Some error")
else:
   print( "file written successfully.")
   f.close()
finally:
   print("Always executed.")

Error: File does not exist.
Always executed.

# Modules and packages

In [136]:
#A module is a file containing Python definitions and statements.
#when module is imported, it is initialized by executing the code in the module
import math
print(math.pi)
print(math.sqrt(4))

3.141592653589793
2.0

In [137]:
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [138]:
print(help(math.sqrt))

Help on built-in function sqrt in module math:

sqrt(...)
    sqrt(x)

    Return the square root of x.

None

In [139]:
#Package are namespaces which contain multiple packages and modules.
#Each package in Python is a directory which must contain a special file called __init__.py

https://docs.python.org/2/tutorial/modules.html#packages

https://python4astronomers.github.io/installation/packages.html

In [140]:
def what_is_args(x,y,*args):
    print(args)
    print(type(args))
what_is_args(1,2,3,4,5,6)

(3, 4, 5, 6)
<class 'tuple'>

In [141]:
def what_is_kwargs(x,y,**kwargs):
    print(kwargs)
    print(type(kwargs))
what_is_kwargs(1,2,name='ahsan',roll_no='12css07')

{'name': 'ahsan', 'roll_no': '12css07'}
<class 'dict'>

# lambda function

In [142]:
#lambda or anonymous func
(lambda x:x**x)(10)

#equivalent to

# def func(x):
#     return x**x
# func(10)

10000000000

In [143]:
square = lambda num: num**2
square(2)

4

In [144]:
rev = lambda string: string[::-1]
rev("string")

'gnirts'

In [145]:
add = lambda a,b:a+b
add(5,7)

12

https://pythonconquerstheuniverse.wordpress.com/2011/08/29/lambda_tutorial/

# filter function

In [146]:
#filter(function, list) 
#function should return bool value
#function will be applied to every element of the iterable

#remove even nos from list
l2 = [2,4,5,6,7,8,9,44,55,77,88]
print(list(filter(lambda x:x%2!=0, l2)))

[5, 7, 9, 55, 77]

# map function

In [147]:
#map(function, sequence)
#map() applies the function to all the elements of the sequence.
list(map(lambda x: x**2, [1,2,3,4]))

[1, 4, 9, 16]

In [148]:
list(map(lambda x,y,z: x+y+z, [1,2,3,4], [5,6,7,8], [9,10,11,12]))

[15, 18, 21, 24]

# reduce function

In [149]:
#reduce(function, sequence) continually applies the function to the sequence and returns a single value.
from functools import reduce
l =[10,20,30,40]
reduce(lambda x,y: x+y,l)
#function(function(function(10,20),30),40)

100

# zip function

In [150]:
#Returns an iterator of tuples, where the ith tuple contains the ith element from each of the argument sequences.
l1 = [1,2,3]
l2 = [5,6,7]
list(zip(l1,l2))

# def zip(*iterables):
#     # zip('ABCD', 'xy') --> Ax By
#     sentinel = object()
#     iterators = [iter(it) for it in iterables]
#     while iterators:
#         result = []
#         for it in iterators:
#             elem = next(it, sentinel)
#             if elem is sentinel:
#                 return
#             result.append(elem)
#         yield tuple(result)

[(1, 5), (2, 6), (3, 7)]

In [151]:
l1 = [1,2,3]
l2 = [4,5,6,7,8]
list(zip(l1,l2))

[(1, 4), (2, 5), (3, 6)]

In [152]:
d1={"a":1,"b":2}
d2={"c":3,"d":4}
list(zip(d1,d2))

[('a', 'c'), ('b', 'd')]

# enumerate function

In [153]:
lst = [10,20,'a']
for index,item in enumerate(lst):
    print(index,item)

0 10
1 20
2 a

all() and any()

In [154]:
#all() will return True, if all elements in an iterable are True.
l1 = [True,False,True,True]
all(l1)

False

In [155]:
any(l1)#any() will return True, if any of the elements in the iterable are True

True

In [156]:
#passing function as argument
def method_executor(function):
    return function()
method_executor(lambda :35+35)

70

In [157]:
#decorators
#@staticmethod and @classmethod are decorators
import functools
def my_decorator(function):
    @functools.wraps(function)
    def run_function():
        print("before running function")
        function()
        print("after running function")
    return run_function    

@my_decorator
def func():
    print("func()")
func()

before running function
func()
after running function

In [158]:
#decorators with arguments
import functools
def decorator_with_arg(arg):
    def decorator(func2):
        @functools.wraps(func2)#functools replace supplied function with run_func
        def run_func(*args, **kwargs):
            print("Before running func2()")
            if(arg==True):
                func2(*args,**kwargs)
            else:
                print("Permission Denied. Not running func2()")
            print("After the decorator.") 
        return run_func
    return decorator

@decorator_with_arg(True)
def function1(a,b):
    print(a+b)
function1(5,7)    
  
    
@decorator_with_arg(False)
def function1(a,b):
    print(a+b)
function1(5,7)

Before running func2()
12
After the decorator.
Before running func2()
Permission Denied. Not running func2()
After the decorator.

# File Handling

In [159]:
#creating a file in ipython.
#Write the contents of the cell to a file
%%writefile datasets/file1.txt
line1
line2
line3
line4 line4
line5 line5
line6
line7

SyntaxError: invalid syntax (<ipython-input-159-f99306370652>, line 3)

In [160]:
file1 = open('datasets/file1.txt')

In [161]:
file1.read() #read whole text file. (whole file is stored in main memory)

'line8'

In [162]:
file1.read()#cursor is at the end of file.

''

In [163]:
file1.seek(0)#reset the cursor to first character in file.

0

In [164]:
file1.readlines() #return list of lines
#NOTE: Dont use it with very large file bcoz returned list will be stored in main memeory.

['line8']

In [165]:
file1.seek(0)
file1.readline()# read one line at a time

'line8'

In [166]:
#can be used with large files. Automatic memory management.
for line in open('datasets/file1.txt'):
    print(line)

line8

In [167]:
# writing to a file
file1 = open('datasets/file1.txt','w+')
file1.write("line8")
file1.seek(0)
file1.read()

'line8'

# Some useful links

http://codingbat.com/python

http://www.pythonchallenge.com/

https://www.reddit.com/r/dailyprogrammer

http://www.codeabbey.com/index/task_list

https://projecteuler.net/archives

In [168]:
#to be continued