# Python2 vs Python3

http://sebastianraschka.com/Articles/2014_python_2_3_key_diff.html

# Comments

In [1]:
#single line comment

# Basic Arithmetic

In [2]:
2+5 #addition

7

In [3]:
2*5 #multiplication

10

In [4]:
2-5 #subtraction

-3

In [5]:
2/5 #true division

0.4

In [6]:
2//5 #classic division

0

In [7]:
2**6 #exponentiation

64

In [8]:
16**0.5 #sqrt

4.0

# Variable Assignment

In [9]:
#Variables names are case sensitive. They must start with a letter or an underscore.
#They can not contain any special character(^&*~-+'",<>/?|\()!@#$%).

In [10]:
my_grade = 'A+'
my_roll_no = 7

# String

Sequence of characters

In [11]:
'single quotes'

'single quotes'

In [12]:
"double quotes"

'double quotes'

In [13]:
"It's a beautiful and deceptive world."

"It's a beautiful and deceptive world."

In [14]:
print("new\nline")

new
line

In [15]:
print("It\'s a \"beautiful\" and \"deceptive\" world, we live in.\n")

It's a "beautiful" and "deceptive" world, we live in.

In [16]:
str = 'positive or negative ?'

In [17]:
#length of string
len(str)

22

String Indexing

In [18]:
print(str[0],str[10],str[-1])
# str[-1]: last character

p r ?

String Slicing

In [19]:
str[1:]

'ositive or negative ?'

In [20]:
str[:5] #everything upto 5th charater, [0,5)

'posit'

In [21]:
str[1:5]# [1,5)

'osit'

In [22]:
str[:]#whole string

'positive or negative ?'

In [23]:
str[-5:]

'ive ?'

In [24]:
#default step size is 1
str[::1] #whole string

'positive or negative ?'

In [25]:
#step size 2
str[::2]

'pstv rngtv '

In [26]:
#step size -1, to print reverse string
str[::-1]

'? evitagen ro evitisop'

String are immutable

In [27]:
str[0] = 'a'

TypeError: 'str' object does not support item assignment

In [28]:
#string concatenation
str + " Neutral."

'positive or negative ? Neutral.'

In [29]:
#repetition
"ahsan "*7

'ahsan ahsan ahsan ahsan ahsan ahsan ahsan '

In [30]:
#string_object.method(parameters)
str.upper() #upper case

'POSITIVE OR NEGATIVE ?'

In [31]:
str.split() #split a string by space

['positive', 'or', 'negative', '?']

In [32]:
str.split('or ') #split a string by specific character or substring

['positive ', 'negative ?']

In [33]:
#capitalize first word
str.capitalize()

'Positive or negative ?'

In [34]:
print(str.count('i')) #count occurence of char i
print(str.count('ive')) #count occurence of non-overlapping substring

3
2

In [35]:
str.find('or') #return lowest index of matched substring
print(str.find('z')) # return -1, if not found.

-1

In [36]:
str.isalnum() #true, if all characters in string are alphanumeric

False

In [37]:
str.isalpha()#true, if all characters in string are alphabetic

False

In [38]:
str.islower() #true, if all characters in string are lower case

True

In [39]:
str.isspace() #true, if all char in string are spaces.

False

In [40]:
str.endswith('?')

True

In [41]:
str.partition('or') #returns a tuple (substring before seperator, seperator, substring after seperator )

('positive ', 'or', ' negative ?')

In [42]:
s = "  asd ada   "
s.strip() #removes leading and trailing white spaces

'asd ada'

print formatting

In [43]:
s = 'def'
print("abc %s ijk" %(s))
print("100 > %1.2f" %(80.98765))
print("%d > %10.3f" %(100,80.98765))

abc def ijk
100 > 80.99
100 >     80.988

In [44]:
#%s use str() to convert python object into its string representation.
#%r use repr() to convert python object into its string representation.
print(repr(1.22))
print(repr([1,2]))
print("string:%r, list:%r, tuple:%r, floating_point_no: %r" %('xyz', [1,2,3], (10,20), 1.23456)) 
print("string:%s, list:%s, tuple:%s, floating_point_no: %s" %('xyz', [1,2,3], (10,20), 1.23456))

1.22
[1, 2]
string:'xyz', list:[1, 2, 3], tuple:(10, 20), floating_point_no: 1.23456
string:xyz, list:[1, 2, 3], tuple:(10, 20), floating_point_no: 1.23456

String formatting

https://pyformat.info/

In [45]:
s = "string {} {}".format('formatting','.')
s

'string formatting .'

In [46]:
s = "Float:{x} String:{y} List:{z}".format(x=1.234,y='abcde',z=[1,2,3])
s

'Float:1.234 String:abcde List:[1, 2, 3]'

In [47]:
s = "{x} {x} {x}".format(x=':)')
s

':) :) :)'

In [48]:
print("{:10d}".format(107))#padding numbers 
print("{:010d}".format(107))
print("{:10.2f}".format(107.123456789))
print("{:010.2f}".format(107.123456789))

       107
0000000107
    107.12
0000107.12

In [49]:
data = {'first_name': 'Ahsan', 'last_name': 'Kamal'}
print("{first_name} {last_name}".format(**data))
print("{a[first_name]} {a[last_name]}".format(a = data))

Ahsan Kamal
Ahsan Kamal

# Lists

In [50]:
list1 = [1,2,3,'abc',10.234, ['a','b'], {'x':1,'y':2}, ('t1','t2')] #list can hold objects of different data types
list1

[1, 2, 3, 'abc', 10.234, ['a', 'b'], {'x': 1, 'y': 2}, ('t1', 't2')]

In [51]:
#List are mutable and have dynamic size.
list1[1] = 'xyz'
list1

[1, 'xyz', 3, 'abc', 10.234, ['a', 'b'], {'x': 1, 'y': 2}, ('t1', 't2')]

In [52]:
len(list1)

8

Indexing and slicing

In [53]:
print(list1[0])
print(list1[-1])
list1[5]

1
('t1', 't2')

['a', 'b']

In [54]:
list1[:3] #[0,3)

[1, 'xyz', 3]

In [55]:
list1[1:4] #[1,4)

['xyz', 3, 'abc']

In [56]:
#concatination
list1 + [10,20,30]

[1,
 'xyz',
 3,
 'abc',
 10.234,
 ['a', 'b'],
 {'x': 1, 'y': 2},
 ('t1', 't2'),
 10,
 20,
 30]

In [57]:
#repetition
l = [1]*7
l

[1, 1, 1, 1, 1, 1, 1]

list methods

In [58]:
l = [1,3,2,4,6,5,3]
l.append('2')
l

[1, 3, 2, 4, 6, 5, 3, '2']

In [59]:
l.pop() #pop out last element

'2'

In [60]:
l

[1, 3, 2, 4, 6, 5, 3]

In [61]:
# Pop off the 0 indexed item
print(l.pop(0))
l

1

[3, 2, 4, 6, 5, 3]

In [62]:
l[10] #index error

IndexError: list index out of range

In [63]:
l.reverse() #inplace list reversal
l

[3, 5, 6, 4, 2, 3]

In [64]:
l.sort() #inplace
l

[2, 3, 3, 4, 5, 6]

In [65]:
l.count(3) #returns no of occurence of 3 in list

2

In [66]:
print(l)
#l.append(object) #append obj to the end of list
l.append([10,9])
print(l)
print(l.pop())
#l.extend(iterable)
l.extend([10,9]) #extend list by appending elements from the iterable
print(l)

[2, 3, 3, 4, 5, 6]
[2, 3, 3, 4, 5, 6, [10, 9]]
[10, 9]
[2, 3, 3, 4, 5, 6, 10, 9]

In [67]:
l.index(3) #returns first index of value passed as an argument

1

In [68]:
l.insert(3,'ab') #insert 'ab' before index 3
l

[2, 3, 3, 'ab', 4, 5, 6, 10, 9]

In [69]:
l.remove(3) #removes first occurence of 3
l

[2, 3, 'ab', 4, 5, 6, 10, 9]

In [70]:
#nested list
matrix = [[10,20,40],[1,2,3],[9,8,7]]
print(matrix[2])
print(matrix[2][1])

[9, 8, 7]
8

List Comprehension

In [71]:
l = [c for c in 'ahsan']
l

['a', 'h', 's', 'a', 'n']

In [72]:
l = [x**3 for x in range(0,7)]
l

[0, 1, 8, 27, 64, 125, 216]

In [73]:
#odd numbers
l = [x for x in range(0,10) if x%2!=0]
l

[1, 3, 5, 7, 9]

In [74]:
#nested list comprehension
l = [x**2 for x in [x for x in range(1,10) if x%2==0]]
l

[4, 16, 36, 64]

# Dictionary

In [75]:
#Dictionaries are mappings and do not retain order.
#key:value
dict1 = {'z':1, 'y':2, 'x':3}
dict1

{'x': 3, 'y': 2, 'z': 1}

In [76]:
dict1['k1']=[10,11,12]
dict1

{'k1': [10, 11, 12], 'x': 3, 'y': 2, 'z': 1}

In [77]:
print(dict1['z'])
print(dict1['k1'])
print(dict1['k1'][2])
print(dict1.keys())
print(dict1.values())
print(dict1.items())

1
[10, 11, 12]
12
dict_keys(['z', 'y', 'x', 'k1'])
dict_values([1, 2, 3, [10, 11, 12]])
dict_items([('z', 1), ('y', 2), ('x', 3), ('k1', [10, 11, 12])])

In [78]:
#nested dictionarry
dict1['dict2'] = { 'ab': 100, 'cd':200, 'dict3':{'ef':300} }
dict1

{'dict2': {'ab': 100, 'cd': 200, 'dict3': {'ef': 300}},
 'k1': [10, 11, 12],
 'x': 3,
 'y': 2,
 'z': 1}

In [79]:
dict1['dict2']

{'ab': 100, 'cd': 200, 'dict3': {'ef': 300}}

In [80]:
dict1['dict2']['dict3']

{'ef': 300}

In [81]:
dict1['dict2']['dict3']['ef']

300

In [82]:
for item in dict1.items():
    print(item)

('z', 1)
('y', 2)
('x', 3)
('k1', [10, 11, 12])
('dict2', {'ab': 100, 'cd': 200, 'dict3': {'ef': 300}})

Dictionary comprehension

In [83]:
d = {x:x**3 for x in range(2,7)}
d

{2: 8, 3: 27, 4: 64, 5: 125, 6: 216}

# Tuples

In [84]:
tuple1 = (1,2,3,3,4,'abcde')

In [85]:
len(tuple1)

6

In [86]:
tuple1[-1] #indexing: similar to list

'abcde'

In [87]:
tuple1[-3:] #slicing: similar to list

(3, 4, 'abcde')

In [88]:
tuple1.count(3)

2

In [89]:
tuple1.index('abcde')

5

In [90]:
#tuples are immutable
tuple1[0] = 5

TypeError: 'tuple' object does not support item assignment

In [91]:
tuple1 = tuple1 + (4,)

In [92]:
tuple1

(1, 2, 3, 3, 4, 'abcde', 4)

# Sets

In [93]:
#set: collection of unique and unordered elements
set1 = {10,23,15,42,23,10,11}

In [94]:
set1[0]

TypeError: 'set' object does not support indexing

In [95]:
set1

{10, 11, 15, 23, 42}

In [96]:
set2 = {3,7,9,10,15,2,42}

In [97]:
set1.intersection(set2)

{10, 15, 42}

In [98]:
set1.union(set2)

{2, 3, 7, 9, 10, 11, 15, 23, 42}

In [99]:
set1.difference(set2)

{11, 23}

In [100]:
#for each
#for element in any_iterable:
#    print(element)
for x in set1: 
    print(x)

10
11
42
15
23

In [101]:
#while loop
condition = True
while condition==True:
    print(condition)
    user_input = input("Print again? (y/n):  ")
    if(user_input=='n'):
        condition=False

True
Print again? (y/n):  y
True
Print again? (y/n):  n

In [102]:
list1 = [10,3,44]
n = len(list1)
i=0
while i<n:
    print(list1[i])
    i+=1

10
3
44

In [103]:
if 100 not in list1:
    print('yes')

yes

In [104]:
if 1>2:
    print('a')
elif 2>1:
    print('b')

b

In [105]:
def add_friend(a):
    pass

In [106]:
#list comprehension
even = [i for i in range(10) if i%2==0]
print(even)
names = "Ahsan ,   Usman,    Karan , Aayush, Mehrab   "
striped_names = [name.strip() for name in names.split(',')]
print(striped_names)

[0, 2, 4, 6, 8]
['Ahsan', 'Usman', 'Karan', 'Aayush', 'Mehrab']

In [107]:
#dictionary can only store data. we can't invoke method on these data.
student = {'name':'Jose','school':'Computing','grades':(66,77,88)}

In [108]:
class Student:
    def __init__(self,name,school,pcm_marks):
        self.name = name
        self.school = school
        self.pcm_marks = pcm_marks
    def info(self):
        print("Name: {}, School: {}, Marks:{} .".format(self.name,self.school,self.pcm_marks))
    @staticmethod#all objects of class student share the same staticmethods
    def location():
        print("Pusa Road, Karol Bagh, New Delhi: 110005 .")
    @classmethod
    def country(cls):
        print("India")
        print(cls)
s1 = Student('Aayush','Ramjas International school',(88,88,92))   
s1.info()
#Student.location()
s1.location()
s1.country()

Name: Aayush, School: Ramjas International school, Marks:(88, 88, 92) .
Pusa Road, Karol Bagh, New Delhi: 110005 .
India
<class '__main__.Student'>

In [109]:
#Inheritance
class DelhiStudent(Student):
    def __init__(self,name,school,pcm_marks,is_alumni):
        super().__init__(name,school,pcm_marks)
        self.is_alumni = is_alumni
usman = DelhiStudent("usman", "ramjas", (85,86,87), True) 
usman.info()
usman.location()
usman.country()

Name: usman, School: ramjas, Marks:(85, 86, 87) .
Pusa Road, Karol Bagh, New Delhi: 110005 .
India
<class '__main__.DelhiStudent'>

In [110]:
def what_is_args(x,y,*args):
    print(args)
    print(type(args))
what_is_args(1,2,3,4,5,6)

(3, 4, 5, 6)
<class 'tuple'>

In [111]:
def what_is_kwargs(x,y,**kwargs):
    print(kwargs)
    print(type(kwargs))
what_is_kwargs(1,2,name='ahsan',roll_no='12css07')

{'name': 'ahsan', 'roll_no': '12css07'}
<class 'dict'>

In [112]:
#lambda or anonymous func
(lambda x:x**x)(10)

#equivalent to

# def func(x):
#     return x**x
# func(10)

10000000000

In [113]:
#remove even nos from list
l2 = [2,4,5,6,7,8,9,44,55,77,88]
print(list(filter(lambda x:x%2!=0, l2)))

[5, 7, 9, 55, 77]

In [114]:
#passing function as argument
def method_executor(function):
    return function()
method_executor(lambda :35+35)

70

In [115]:
#decorators
#@staticmethod and @classmethod are decorators
import functools
def my_decorator(function):
    @functools.wraps(function)
    def run_function():
        print("before running function")
        function()
        print("after running function")
    return run_function    

@my_decorator
def func():
    print("func()")
func()

before running function
func()
after running function

In [116]:
#decorators with arguments
import functools
def decorator_with_arg(arg):
    def decorator(func2):
        @functools.wraps(func2)#functools replace supplied function with run_func
        def run_func(*args, **kwargs):
            print("Before running func2()")
            if(arg==True):
                func2(*args,**kwargs)
            else:
                print("Permission Denied. Not running func2()")
            print("After the decorator.") 
        return run_func
    return decorator

@decorator_with_arg(True)
def function1(a,b):
    print(a+b)
function1(5,7)    
  
    
@decorator_with_arg(False)
def function1(a,b):
    print(a+b)
function1(5,7)

Before running func2()
12
After the decorator.
Before running func2()
Permission Denied. Not running func2()
After the decorator.

# File Handling

In [117]:
#creating a file in ipython.
#Write the contents of the cell to a file
%%writefile datasets/file1.txt
line1
line2
line3
line4 line4
line5 line5
line6
line7

Overwriting datasets/file1.txt

In [118]:
file1 = open('datasets/file1.txt')

In [119]:
file1.read() #read whole text file. (whole file is stored in main memory)

'line1\nline2\nline3\nline4 line4\nline5 line5\nline6\nline7'

In [120]:
file1.read()#cursor is at the end of file.

''

In [121]:
file1.seek(0)#reset the cursor to first character in file.

0

In [122]:
file1.readlines() #return list of lines
#NOTE: Dont use it with very large file bcoz returned list will be stored in main memeory.

['line1\n',
 'line2\n',
 'line3\n',
 'line4 line4\n',
 'line5 line5\n',
 'line6\n',
 'line7']

In [123]:
file1.seek(0)
file1.readline()# read one line at a time

'line1\n'

In [124]:
#can be used with large files. Automatic memory management.
for line in open('datasets/file1.txt'):
    print(line)

line1

line2

line3

line4 line4

line5 line5

line6

line7

In [125]:
# writing to a file
file1 = open('datasets/file1.txt','w+')
file1.write("line8")
file1.seek(0)
file1.read()

'line8'

In [ ]:
#to be continued